/* ==UserStyle==
@name           Reddit Sync Style
@version        2.4.1
@description    AMOLED theme for Reddit Old
@author         Jorenar
@homepageURL    https://github.com/Jorenar/RedditOldRedesignedDark
@namespace      jorenar.com
@preprocessor   less

@var checkbox thumbnails "Show thumbnails" 1
==/UserStyle== */

@-moz-document domain("www.reddit.com"), domain("old.reddit.com") {

  /* COLOR DEFINITIONS */
  :root {

    --url: #e66100; /* Usernames & Links*/

    --gray-0: #000;
    --gray-1: #121212;
    --gray-2: #232323;
    --gray-3: #343434;
    --gray-4: #454545;
    --gray-5: #9a9996;
    --gray-6: #c0bfbc;

    --gray-a0: #1e1e1e;
    --blue-0: #4ac;
    --blue-1: #369;
    --blue-2: #2c89f5;
    --red: #d3391a;
    --dark-red: #440202;
    --text-normal: #fff;
    --text-normal-hover: #f6f5f4;
    --text-med: hsl(0, 0%, 85%);
    --text-dark: hsl(0, 0%, 45%);
    --text-dark-hover: var(--text-normal);


  }

  body[class] {

    /* White text on black*/
    &,
    .md,
    textarea,
    .side,
    #header,
    #header-bottom-right,
    #searchexpando{
      background-color: var(--gray-0) !important;
      background: var(--gray-0) !important;
      color: var(--text-normal) !important;
    }

    /*Removed stuff*/
    #sr-header-area, /*Subreddits list*/
    .comment.noncollapsed .buttons /*Comment buttons*/,
    .domain /*post domain name*/,
    .sidebox /*submit buttons*/,
    .arrow /*voting*/,
    .read-next /*recos*/{
      visibility: hidden !important;
      height: 0px !important;
      font-size: 0px !important;
    }


    /*White text*/
    .pagename a /*sub name*/,
    .title{
      color: var(--text-normal) !important;
    }

    /*Secondary text*/
    .linkinfo,
    .titlebox form.toggle,
    input,
    .side .md,
    .reddit-infobar {
      color: var(--gray-5) !important;
      background-color: transparent !important;
    }

    /*Primary links*/
    a {
      color: var(--url) !important;
    }


    /*Secondary links*/
    .side a {
      color: var(--gray-6) !important;
    }

    /*Spoiler tag*/
    .md code {
      background-color: var(--gray-2) !important;
      color: var(--gray-2) !important;
      border: none !important;
    }

    /*Border (Dark gray)*/
    .md,
    .linkinfo,
    td,
    th{
      border-color: var(--gray-3) !important;
    }

    /*Left Border remove*/
    .comment .child {
      border-left: none !important;
    }




/*Reddit img fix*/
		#header-img {
      background-image: url(https://www.redditstatic.com/desktop2x/img/favicon/apple-icon-57x57.png) !important;
      background-position: center !important;
      background-size: cover;
      height: 36px !important;
      margin: 4px 16px;
      width: 36px !important;
      top: 0px !important;
    }
@-moz-document url-prefix("https://www.reddit.com/framedModal/report") {
  #SHORTCUT_FOCUSABLE_DIV > div[class=""] > div[class][aria-hidden="false"] > div[class] {
    & {
      overflow: initial;
    }

    > div[class] > div[class] {
      background: var(--gray-0);
    }
  }
}

@-moz-document url-prefix("https://www.redditmedia.com/mediaembed/") {
  iframe {
    height: 100vh;
    width: 100vw;
  }
}
